{% extends 'app/base.html' %}
{% block content %}
    <div class="container">

    </div>
    <div class="container"><h2>Ilość użytkowników: {{ context.users }}</h2><h2>Ilość zgłoszeń: {{ context.issues }}</h2><h2>W tym rozwiązaych: {{ context.closed_issues }}</h2></div>
    <div class="container">
    <h2>O Nas:</h2>
{% lorem 3 p %}
    <button class="signup-btn btn btn-primary" type="button" name="button">Załóż konto</button>
    </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
            </div>
        </div>



        <script type="text/javascript">
            $(function () {
                // Sign up button
                $(".signup-btn").modalForm({formURL: "{% url 'app:signup' %}"});

            });
        </script>
    </div>
{% endblock %}