{#<form method="post">{% csrf_token %}#}
{#    <p>Are you sure you want to delete "{{ object }}"?</p>#}
{#    <input type="submit" value="Confirm">#}
{#</form>#}
{% load crispy_forms_tags %}

<div class="container m-2">
    {% if error %}
        <div "alert alert-warning" role="alert">{{ error }}</div>
    {% endif %}
<form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object.title }}"?</p>
    <button type="submit" class="btn btn-primary">Potwierdź</button>
</form>
</div>