{% extends 'app/base.html' %}
{% load static %}
{% block content %}

    <div class="container-lg">
        <div class="card">
            <div class="card-body elegant-color white-text rounded-bottom">

                <!-- Social shares button -->
                <a class="activator waves-effect mr-4"><i class="fas fa-share-alt white-text"></i></a>
                <!-- Title -->
                <h4 class="card-title text-primary">{{ object.title }}</h4>
                <hr class="hr-light">
                <!-- Text -->
                <div class="text-secondary"><p><i
                        class="material-icons material-icons-menu">calendar_today</i>{{ object.date_start }}</p>
                    <p>
                        <i class="material-icons material-icons-menu">account_circle</i>{{ object.user_id.name }} {{ object.user_id.surname }}
                    </p></div>

                <p class="card-text mb-4">{{ object.description|safe }}</p>
                <!-- Link -->
                <div class="float-right">
                    <button type="button" class="btn btn-success">Zamknij</button>
                    <button class="update-issue btn btn-warning" type="button" name="button">Zmień</button>
                    <button class="delete-issue btn btn-danger" type="button" name="button">Usuń</button>

                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".delete-issue").modalForm({
                formURL: "{% url 'app:delete_issue' object.id %}"
            });
        });
    </script>
{#     TODO To powinno być w jednym skrypcie#}
    <script type="text/javascript">
        $(document).ready(function() {

            $(".update-issue").modalForm({
                formURL: "{% url 'app:update_issue' object.id %}"
             });
        });
</script>
    {% for c in issue.comments.all %}
        <div class="container-lg mt-4">
        <div class="card">
  <h5 class="card-header">{{ c.creation_date }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ c.user }}</h5>
    <p class="card-text">{{ c.content|safe }}</p>
  </div>
</div>
        </div>
    {% endfor %}
{% endblock %}
